<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
유저 수정

<form method="post" th:action="@{/posts/edit-post/{id}(id=${postForm.id})}" th:object="${postForm}">
  <label for="id">ID : </label>
  <input type="text" name="id" id="id" th:field="*{id}">

  <label for="title">TITLE : </label>
  <input type="text" name="title" id="title" th:field="*{title}">

  <label for="description">DESCRIPTION : </label>
  <input type="text" name="description" id="description" th:field="*{description}">

  <button type="submit" name="submit" value="value">수정하기</button>
</form>

</body>
</html>